Repository wix/stylable, pull requests merged in 2018-06, with the labels that each got.

#338 Add diagnostics for unscoped elements and imported classes
  packages/stylable/src/selector-utils.ts
  packages/stylable/src/stylable-processor.ts
  packages/stylable/src/stylable-transformer.ts
  packages/stylable/tests/diagnostics.spec.ts
  packages/stylable/tests/pseudo-states.spec.ts
  packages/stylable/tests/utils/diagnostics.ts
Labels: core, diagnostics

#343 Core: Add warning for CSS mixin without named params
  packages/stylable/src/stylable-utils.ts
  packages/stylable/src/stylable-value-parsers.ts
  packages/stylable/tests/diagnostics.spec.ts
Labels: core, diagnostics, mixin

#353 Core: fix bug with double wrapped (with quotes) state parameters
  packages/stylable/src/pseudo-states.ts
  packages/stylable/src/utils.ts
  packages/stylable/tests/pseudo-states.spec.ts
Labels: bug, core, pseudo-state

#354 Fix empty function warning
  packages/stylable/src/functions.ts
  packages/stylable/tests/functions.spec.ts
Labels: bug, core, diagnostics

#358 Core: lowercase default imports now warn about the correct node
  packages/stylable/src/stylable-processor.ts
  packages/stylable/tests/diagnostics.spec.ts
Labels: bug, core, diagnostics

#363 Upgrade all deps (including typescript@2.9)
  .gitignore
  .vscode/settings.json
  package.json
  packages/stylable-build-test-kit/package.json
  packages/stylable-cli/package.json
  packages/stylable-jest/package.json
  packages/stylable-node/package.json
  packages/stylable-runtime/package.json
  packages/stylable-scripts/package.json
  packages/stylable-webpack-extensions/package.json
  packages/stylable-webpack-plugin/test/e2e/projects/mixins-project/webpack.config.js
  packages/stylable/package.json
  tsconfig.base.json
  yarn.lock
Labels: infrastructure, tech debt, tooling
