Repository wix/stylable, pull requests merged in 2019-11, with the labels that each got.

#858 Declaration value processing improvements and native parts update
  packages/core/src/custom-values.ts
  packages/core/src/functions.ts
  packages/core/src/native-reserved-lists.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/functions.spec.ts
  packages/webpack-plugin/src/stylable-generator.ts
Labels: bug, core, diagnostics

#872 Add time based cache for path resolutions
  package.json
  packages/core/src/create-infra-structure.ts
  packages/core/src/stylable.ts
  packages/core/src/timed-cache.ts
  packages/core/test/timed-cache.spec.ts
  yarn.lock
Labels: bug, core

#839 Fix Scope Selector Implementation
  packages/cli/package.json
  packages/core-test-kit/package.json
  packages/core-test-kit/src/diagnostics.ts
  packages/core/package.json
  packages/core/src/functions.ts
  packages/core/src/pseudo-states.ts
  packages/core/src/selector-utils.ts
  packages/core/src/stylable-mixins.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/custom-selectors.spec.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/functions.spec.ts
  packages/core/test/intellisense/intellisense.spec.ts
  packages/core/test/mixins/js-mixins.spec.ts
  packages/core/test/pseudo-states.spec.ts
  packages/core/test/selector-utils.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-transformer/scope-selector-v2.spec.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  packages/custom-value/package.json
  packages/dom-test-kit/package.json
  packages/e2e-test-kit/package.json
  packages/jest/package.json
  packages/module-utils/package.json
  packages/node/package.json
  packages/optimizer/package.json
  packages/react-scripts/package.json
  packages/runtime/package.json
  packages/schema-extract/package.json
  packages/stylable.io/package.json
  packages/uni-driver/package.json
  packages/webpack-extensions/package.json
  packages/webpack-plugin/package.json
  packages/webpack-plugin/test/e2e/bad-project.spec.ts
Labels: API, core, tech debt

#892 Fix a bug concerning scoping nested pseudo state elements
  packages/core/src/stylable-transformer.ts
  packages/core/test/custom-selectors.spec.ts
  packages/core/test/intellisense/intellisense.spec.ts
Labels: bug, core

#889 Local extended class export bug and resolver improvements
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
Labels: bug, core
