Repository wix/stylable, pull requests merged in 2019-06, with the labels that each got.

#634 Update docs for v2
  packages/stylable.io/docs/getting-started/react-integration.md
  packages/stylable.io/docs/guides/components-basics.md
  packages/stylable.io/docs/guides/runtime.md
  packages/stylable.io/docs/references/class-selectors.md
  packages/stylable.io/docs/references/css-vars.md
  packages/stylable.io/docs/references/extend-stylesheet.md
  packages/stylable.io/docs/references/extending-through-js.md
  packages/stylable.io/docs/references/mixins.md
  packages/stylable.io/docs/references/namespace.md
  packages/stylable.io/docs/references/pseudo-classes.md
  packages/stylable.io/docs/references/root.md
  packages/stylable.io/docs/references/st-scope.md
  packages/stylable.io/docs/references/state-parameter-types.md
  packages/stylable.io/docs/references/tag-selectors.md
Labels: docs

#649 fix webpack plugins api
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
  packages/webpack-plugin/src/types.ts
Labels: bug, integration

#653 Add Legacy runtime API support
  .gitignore
  packages/jest/package.json
  packages/jest/src/index-legacy.ts
  packages/jest/src/jest.ts
  packages/module-utils/src/module-factory.ts
  packages/module-utils/test/index.spec.ts
  packages/module-utils/test/test-kit.ts
  packages/node/src/require-hook.ts
  packages/runtime/package.json
  packages/runtime/scripts/build-runtime.ts
  packages/runtime/scripts/ts-lib-bundler.ts
  packages/runtime/src/css-runtime-stylesheet-legacy.ts
  packages/runtime/src/index-legacy.ts
  packages/runtime/test/e2e/projects/runtime-legacy/src/index.js
  packages/runtime/test/e2e/projects/runtime-legacy/src/index.st.css
  packages/runtime/test/e2e/projects/runtime-legacy/webpack.config.js
  packages/runtime/test/e2e/runtime-legacy.spec.ts
  packages/runtime/test/unit/css-runtime-stylesheet-legacy.spec.ts
  packages/webpack-plugin/src/plugin-options.ts
  packages/webpack-plugin/src/runtime-dependencies.ts
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
  packages/webpack-plugin/src/types.ts
Labels: API, infrastructure

#668 add support for vanilla mode
  packages/cli/README.md
  packages/cli/src/build.ts
  packages/cli/src/cli.ts
  packages/cli/src/name-template.ts
  packages/cli/test/build.spec.ts
  packages/module-utils/src/module-factory.ts
  packages/module-utils/src/module-source.ts
Labels: feature, integration

#665 Fix stylable variable resolution in an unknown formatter
  packages/core/src/functions.ts
  packages/core/test/stylable-transformer/value.spec.ts
Labels: bug, core

#680 Infra: cleanup path imports
  packages/cli/test/build.spec.ts
  packages/cli/test/generate-index.spec.ts
  packages/core-test-kit/src/generate-test-util.ts
  packages/core/src/create-infra-structure.ts
  packages/core/src/index.ts
  packages/core/src/memory-minimal-fs.ts
  packages/core/src/path.ts
  packages/core/src/stylable-assets.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/functions.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable-transformer/post-process-and-hooks.spec.ts
  packages/e2e-test-kit/src/webpack-in-memory-test.ts
  packages/jest/test/jest.spec.ts
  packages/node/src/require-hook.ts
  packages/node/test/require-hook.spec.ts
  packages/node/test/resolve-namespace-factory.spec.ts
  packages/schema-extract/test/test.spec.ts
  packages/webpack-extensions/src/stylable-html-snapshot.ts
Labels: core, tech debt
