Repository wix/stylable, pull requests merged in 2019-12, with the labels that each got.

#913 Fix webpack file system issue causing watch mode to break
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
Labels: bug, integration

#920 Remove handling for incorrect path resolution in cross-os situations
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/functions.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable-transformer/post-process-and-hooks.spec.ts
  yarn.lock
Labels: bug, core

#923 Import webpack integration (Support new loaders)
  .vscode/launch.json
  package.json
  packages/e2e-test-kit/src/isolated-server.ts
  packages/e2e-test-kit/src/project-runner.ts
  packages/e2e-test-kit/src/stylable-project-runner.ts
  packages/webpack-plugin/src/stylable-generator.ts
  packages/webpack-plugin/src/stylable-module-helpers.ts
  packages/webpack-plugin/src/stylable-parser.ts
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
  packages/webpack-plugin/test/e2e/project-with-assets.spec.ts
  packages/webpack-plugin/test/e2e/projects/project-with-assets/webpack.config.js
  yarn.lock
Labels: bug, integration

#926 Update reserved native lists - functions, pseudo clases and pseudo elements
  packages/core/src/native-reserved-lists.ts
Labels: core, tech debt
