Repository wix/stylable, pull requests merged in 2019-09, with the labels that each got.

#757 Add flag to CLI accepting require hooks to run
  packages/cli/README.md
  packages/cli/cli.js
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/test/cli.spec.ts
  packages/cli/test/fixtures/test-require-hook.js
Labels: feature, tooling

#755 Handle trailing commas in named arguments
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/stylable-value-parsers.spec.ts
Labels: core, feature

#763 Added deep & recursive variant search
  packages/cli/src/build-tools.ts
  packages/cli/src/build.ts
  packages/node/src/find-files.ts
  packages/node/src/index.ts
  packages/webpack-extensions/package.json
  packages/webpack-extensions/src/stylable-metadata-plugin.ts
  packages/webpack-extensions/test/e2e/metadata-plugin-project.spec.ts
  packages/webpack-extensions/test/e2e/projects/metadata-plugin-project/src/variants/v1/v1.st.css
Labels: dependencies, feature, tests

#789 Update native CSS functions list
  packages/core/src/native-reserved-lists.ts
Labels: bug, core, diagnostics

#790 Update native CSS functions list (v1)
  packages/core/src/native-reserved-lists.ts
Labels: bug, core, diagnostics

#795 Infra: less tsconfigs. faster node integration
  .mocharc.js
  package.json
  packages/cli/cli.js
  packages/cli/package.json
  packages/cli/src/tsconfig.json
  packages/cli/test/tsconfig.json
  packages/core-test-kit/package.json
  packages/core-test-kit/src/tsconfig.json
  packages/core/package.json
  packages/core/src/tsconfig.json
  packages/core/test/tsconfig.json
  packages/custom-value/package.json
  packages/custom-value/src/tsconfig.json
  packages/custom-value/test/tsconfig.json
  packages/dom-test-kit/package.json
  packages/dom-test-kit/src/tsconfig.json
  packages/dom-test-kit/test/tsconfig.json
  packages/e2e-test-kit/package.json
  packages/e2e-test-kit/src/tsconfig.json
  packages/jest/package.json
  packages/jest/src/tsconfig.json
  packages/jest/test/tsconfig.json
  packages/module-utils/package.json
  packages/module-utils/src/tsconfig.json
  packages/module-utils/test/tsconfig.json
  packages/node/package.json
  packages/node/src/tsconfig.json
  packages/node/test/tsconfig.json
  packages/optimizer/package.json
  packages/optimizer/src/tsconfig.json
  packages/optimizer/test/tsconfig.json
  packages/react-scripts/package.json
  packages/runtime/package.json
  packages/runtime/scripts/tsconfig.json
  packages/runtime/src/tsconfig.json
  packages/runtime/test/tsconfig.json
  packages/schema-extract/package.json
  packages/schema-extract/src/tsconfig.json
  packages/schema-extract/test/tsconfig.json
  packages/uni-driver/package.json
  packages/uni-driver/src/tsconfig.json
  packages/uni-driver/test/tsconfig.json
  packages/webpack-extensions/package.json
  packages/webpack-extensions/src/tsconfig.json
  packages/webpack-extensions/test/tsconfig.json
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/tsconfig.json
  packages/webpack-plugin/test/tsconfig.json
  tsconfig.json
  tsconfig.test.json
  yarn.lock
Labels: infrastructure
