Repository wix/stylable, pull requests merged in 2020-11, with the labels that each got.

#1494 Add test to assure browser-field compliance in imports resolution
  packages/webpack-plugin/test/e2e/browser-field.spec.ts
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/.gitignore
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/cjs/button.js
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/cjs/button.st.css
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/esm/button.js
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/esm/button.st.css
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/index.esm.js
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/index.esm.st.css
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/index.js
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/index.st.css
  packages/webpack-plugin/test/e2e/projects/browser-field/node_modules/test-components/package.json
  packages/webpack-plugin/test/e2e/projects/browser-field/src/app.st.css
  packages/webpack-plugin/test/e2e/projects/browser-field/src/index.js
  packages/webpack-plugin/test/e2e/projects/browser-field/webpack.config.js
Labels: integration, tech debt, tests

#1508 core: fix bug where odd spacings in '@st-global-custom-property' would break
  packages/core/src/stylable-processor.ts
  packages/core/test/css-vars.spec.ts
Labels: bug, core

#1509 core: add the ability to provide a css parser to Stylable
  packages/core-test-kit/src/generate-test-util.ts
  packages/core/src/create-infra-structure.ts
  packages/core/src/parser.ts
  packages/core/src/stylable.ts
Labels: API, core

#1517 webpack-extensions: add the ability to modify the resource path for the metadata fs output
  packages/webpack-extensions/src/component-metadata-builder.ts
  packages/webpack-extensions/src/stylable-metadata-plugin.ts
  packages/webpack-extensions/test/e2e/projects/metadata-plugin-project/webpack.config.ts
Labels: API, integration
