Repository wix/stylable, pull requests merged in 2020-08, with the labels that each got.

#1313 Update Experimental loader to use css-loader v4
  package.json
  packages/experimental-loader/package.json
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/experimental-loader/src/warning.ts
  yarn.lock
Labels: bug, integration

#1305 Add stylable lint to create-stylable-app
  packages/create-stylable-app/template/ts-react-webpack/.eslintrc
  packages/create-stylable-app/template/ts-react-webpack/template.js
  packages/eslint-plugin-stylable/index.js
  packages/eslint-plugin-stylable/src/index.ts
Labels: tooling

#1310 Support keyframe imports from a stylesheet
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/mixins/css-mixins.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  packages/core/test/stylable-value-parsers.spec.ts
  packages/stylable.io/_data/docs_nav.yml
  packages/stylable.io/docs/guides/runtime.md
  packages/stylable.io/docs/references/keyframes.md
Labels: core, feature, tech debt

#1335 Fix numerical state validators
  packages/core/src/state-validators.ts
  packages/core/test/pseudo-states.spec.ts
Labels: bug, core, diagnostics, pseudo-state
