Repository wix/stylable, pull requests merged in 2020-04, with the labels that each got.

#1081 Improve LSP for external integrations
  packages/dom-test-kit/test/contract-test.ts
  packages/language-service/package.json
  packages/language-service/src/lib/css-service.ts
  packages/language-service/src/lib/feature/color-provider.ts
  packages/language-service/src/lib/service.ts
  packages/language-service/test-kit/asserters.ts
  packages/language-service/test-kit/completions-asserters.ts
  yarn.lock
Labels: language-service, tech debt

#1029 Webpack plugin improvements
  package.json
  packages/e2e-test-kit/src/project-runner.ts
  packages/module-utils/src/module-source.ts
  packages/webpack-plugin/src/stylable-auto-init-dependency.ts
  packages/webpack-plugin/src/stylable-dependencies.ts
  packages/webpack-plugin/src/stylable-generator.ts
  packages/webpack-plugin/src/stylable-parser.ts
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
  packages/webpack-plugin/src/types.ts
  packages/webpack-plugin/src/utils.ts
  packages/webpack-plugin/test/e2e/projects/watched-project/package.json
  packages/webpack-plugin/test/e2e/projects/watched-project/src/index.js
  packages/webpack-plugin/test/e2e/projects/watched-project/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/watched-project/src/mixin-a.st.css
  packages/webpack-plugin/test/e2e/projects/watched-project/src/mixin-b.st.css
  packages/webpack-plugin/test/e2e/projects/watched-project/webpack.config.js
  packages/webpack-plugin/test/e2e/watched-project.spec.ts
  yarn.lock
Labels: bug, integration, tech debt

#1090 CLI: Pass through "useNamespaceReference" parameter
  packages/cli/src/cli.ts
  packages/cli/test/cli.spec.ts
Labels: bug, tooling

#1114 docs(migration-v3): add doc with some notes about migrating to v3
  packages/stylable.io/docs/guides/migration-v3.md
Labels: docs, stylable.io
