Repository wix/stylable, pull requests merged in 2020-09, with the labels that each got.

#1276 Add support for any selector inside @st-scope
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/scope-directive.spec.ts
  packages/eslint-plugin-stylable/package.json
  packages/stylable.io/docs/references/st-scope.md
Labels: core, feature

#1348 Allow force state plugin to use function for namespace mapping
  packages/core/test/mixins/js-mixins.spec.ts
  packages/webpack-extensions/src/stylable-forcestates-plugin.ts
  packages/webpack-extensions/test/unit/forcestates-plugin.spec.ts
Labels: integration, tooling

#1351 Add Util to create force state DOM matchers
  packages/webpack-extensions/src/create-forcestate-matchers.ts
  packages/webpack-extensions/src/stylable-forcestates-plugin.ts
  packages/webpack-extensions/test/unit/forcestates-plugin.spec.ts
Labels: API, tooling

#1373 refactor: use native node apis where possible
  packages/eslint-plugin-stylable/package.json
  packages/eslint-plugin-stylable/src/stylable-es-lint.ts
  packages/eslint-plugin-stylable/tests/stylable-es-lint.spec.ts
  packages/language-service/package.json
  packages/language-service/src/lib/typescript-support.ts
  packages/language-service/test-kit/asserters.ts
  packages/language-service/test-kit/completions-asserters.ts
  packages/language-service/test-kit/stylable-fixtures-lsp.ts
  packages/language-service/test/lib/definitions.spec.ts
  packages/language-service/test/lib/references.spec.ts
Labels: tech debt

#1364 Fix Removing stylable modules that are used in JavaScript
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
Labels: bug, integration

#1379 language-service: fix diagnosis to use the correct stylable processor instance
  packages/core/src/stylable.ts
  packages/language-service/src/lib/diagnosis.ts
Labels: bug, language-service

#1350 Allow using JavaScript string values as Stylable import
  packages/core/src/functions.ts
  packages/core/test/mixins/js-mixins.spec.ts
  packages/stylable.io/docs/references/extending-through-js.md
Labels: core, feature

#1397 core: fix regression that causing diagnostics to be shared across files
  packages/core-test-kit/src/generate-test-util.ts
  packages/core/src/create-infra-structure.ts
  packages/core/src/stylable-processor.ts
  packages/language-service/test/lib/diagnostics.spec.ts
Labels: bug, core
