Repository wix/stylable, pull requests merged in 2020-06, with the labels that each got.

#1195 feat: stc fails when given unknown flags
  package.json
  packages/cli/src/cli.ts
  packages/cli/test/cli.spec.ts
  yarn.lock
Labels: diagnostics, tech debt, tooling

#1213 Support '~' url syntax for 3rd party assets
  packages/core/src/functions.ts
  packages/core/src/stylable-assets.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/functions.spec.ts
  packages/core/test/stylable-assets.spec.ts
  packages/stylable.io/_data/docs_nav.yml
  packages/stylable.io/docs/references/using-external-assets.md
  packages/webpack-plugin/src/stylable-parser.ts
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
  packages/webpack-plugin/test/e2e/project-with-3rd-party-mixin-assets.spec.ts
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/node_modules/external-assets/asset.png
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/node_modules/external-assets/package.json
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/node_modules/test-components/mix.st.css
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/node_modules/test-components/node_modules/deep-external-assets/deep.png
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/node_modules/test-components/node_modules/deep-external-assets/package.json
  packages/webpack-plugin/test/e2e/projects/project-with-3rd-party-mixin-assets/src/index.st.css
Labels: core, feature

#1182 Experimental loader
  README.md
  package.json
  packages/e2e-test-kit/src/project-runner.ts
  packages/e2e-test-kit/src/puppeteer-helpers.ts
  packages/experimental-loader/LICENSE
  packages/experimental-loader/README.md
  packages/experimental-loader/package.json
  packages/experimental-loader/src/add-meta-dependencies.ts
  packages/experimental-loader/src/cached-stylable-factory.ts
  packages/experimental-loader/src/index.ts
  packages/experimental-loader/src/stylable-runtime-loader.ts
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/experimental-loader/src/warning.ts
  packages/experimental-loader/test/basic-integration.spec.ts
  packages/experimental-loader/test/projects/basic-integration/dog.png
  packages/experimental-loader/test/projects/basic-integration/foo.st.css
  packages/experimental-loader/test/projects/basic-integration/formatter.js
  packages/experimental-loader/test/projects/basic-integration/index.js
  packages/experimental-loader/test/projects/basic-integration/index.st.css
  packages/experimental-loader/test/projects/basic-integration/webpack.config.ts
  packages/experimental-loader/test/projects/two-components-dynamic-order/app.js
  packages/experimental-loader/test/projects/two-components-dynamic-order/compA/a.js
  packages/experimental-loader/test/projects/two-components-dynamic-order/compA/a.st.css
  packages/experimental-loader/test/projects/two-components-dynamic-order/compB/b.js
  packages/experimental-loader/test/projects/two-components-dynamic-order/compB/b.st.css
  packages/experimental-loader/test/projects/two-components-dynamic-order/webpack.config.ts
  packages/experimental-loader/test/two-components-dynamic-order-prod.spec.ts
  packages/experimental-loader/test/two-components-dynamic-order.spec.ts
  yarn.lock
Labels: API, integration

#1229 Jest: add runtime version to jest cache key
  packages/jest/src/jest.ts
Labels: bug, integration
