Repository wix/stylable, pull requests merged in 2020-02, with the labels that each got.

#979 @st-scope and CSS service quality of life improvements
  packages/language-service/src/lib/css-service.ts
  packages/language-service/src/lib/diagnosis.ts
  packages/language-service/src/lib/feature/color-provider.ts
  packages/language-service/src/lib/service.ts
  packages/language-service/test-kit/completions-asserters.ts
  packages/language-service/test/fixtures/server-cases/st-scope/directive.st.css
  packages/language-service/test/fixtures/server-cases/st-scope/inside-value-local-vars.st.css
  packages/language-service/test/fixtures/server-cases/st-scope/local-class-from-selector.st.css
  packages/language-service/test/fixtures/server-cases/st-scope/local-vars.st.css
  packages/language-service/test/fixtures/server-cases/st-scope/selector.st.css
  packages/language-service/test/fixtures/server-cases/st-scope/single-variable-color.st.css
  packages/language-service/test/lib/colors.spec.ts
  packages/language-service/test/lib/completions/st-scope.spec.ts
  packages/language-service/test/lib/diagnostics.spec.ts
  packages/language-service/test/lib/references.spec.ts
Labels: bug, diagnostics, language-service, tech debt

#995 fix(types): use postcss-value-parser types
  package.json
  packages/core/package.json
  packages/core/src/custom-values.ts
  packages/core/src/functions.ts
  packages/core/src/pseudo-states.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/arguement-parser.spec.ts
  packages/core/test/stylable-transformer/value.spec.ts
  packages/language-service/package.json
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/feature/pseudo-class.ts
  packages/language-service/src/lib/provider.ts
  packages/language-service/src/lib/types.ts
  yarn.lock
Labels: core, tech debt

#1001 Add "useNamespaceReference" flag to CLI, fix st-scope multi-selector bug
  packages/cli/README.md
  packages/cli/src/build.ts
  packages/cli/src/cli.ts
  packages/cli/test/build.spec.ts
  packages/core/src/stylable-processor.ts
  packages/core/test/scope-directive.spec.ts
  packages/core/test/stylable-processor.spec.ts
Labels: core, tooling
