Repository wix/stylable, pull requests merged in 2021-03, with the labels that each got.

#1672 fix(core): collect url usages from :vars
  packages/core/src/stylable-processor.ts
  packages/core/test/stylable-processor.spec.ts
Labels: bug, core

#1675 fix(core): collect url usages from :vars (v3) (#1672)
  packages/core/src/stylable-processor.ts
  packages/core/test/stylable-processor.spec.ts
Labels: bug, core

#1681 fix(webpack-plugin): fix crash in optimization step when css is broken
  packages/e2e-test-kit/src/project-runner.ts
  packages/webpack-plugin/src/plugin.ts
  packages/webpack-plugin/test/e2e/projects/watched-project-error-recovery/package.json
  packages/webpack-plugin/test/e2e/projects/watched-project-error-recovery/src/index.js
  packages/webpack-plugin/test/e2e/projects/watched-project-error-recovery/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/watched-project-error-recovery/webpack.config.js
  packages/webpack-plugin/test/e2e/watched-project-error-recovery.spec.ts
  packages/webpack-plugin/test/e2e/watched-project.spec.ts
Labels: bug

#1692 feat(core): warn on invalid custom property rename
  packages/core/src/stylable-processor.ts
  packages/core/test/diagnostics.spec.ts
Labels: core, diagnostics

#1694 fix(webpack-plugin): support asset module type
  packages/webpack-plugin/src/plugin-utils.ts
  packages/webpack-plugin/test/e2e/project-with-assets.spec.ts
  packages/webpack-plugin/test/e2e/projects/project-with-assets/src/assets/assets.st.css
  packages/webpack-plugin/test/e2e/projects/project-with-assets/src/assets/icon.svg
  packages/webpack-plugin/test/e2e/projects/project-with-assets/src/assets/mandela.svg
  packages/webpack-plugin/test/e2e/projects/project-with-assets/webpack.config.js
Labels: bug, integration

#1691 feat(language-service): add css vars completions
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/test/fixtures/server-cases/css-vars/css-vars-level2.st.css
  packages/language-service/test/fixtures/server-cases/css-vars/css-vars.st.css
  packages/language-service/test/fixtures/server-cases/css-vars/import.st.css
  packages/language-service/test/lib/completions/st-import.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
Labels: language-service

#1701 Language-service: add completion for @st-global-custom-property
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/completion-types.ts
  packages/language-service/test/lib/completions/completion.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
Labels: language-service

#1702 fix(webpack-plugin): inject all exports only when usedExports enabled in dev
  packages/webpack-plugin/src/loader-utils.ts
  packages/webpack-plugin/src/loader.ts
  packages/webpack-plugin/src/runtime-inject.ts
  packages/webpack-plugin/test/e2e/simplest-project-used-exports.spec.ts
Labels: bug, integration

#1706 fix(webpack-plugin): enable mini-css-extract-plugin feature
  packages/webpack-plugin/src/mini-css-support.ts
  packages/webpack-plugin/src/plugin.ts
  packages/webpack-plugin/test/e2e/mini-css-extract.spec.ts
Labels: bug

#1709 Add build info with stylable namespace in experimental loader
  packages/experimental-loader/src/stylable-runtime-loader.ts
  packages/experimental-loader/test/basic-integration.spec.ts
  packages/experimental-loader/test/projects/basic-integration/webpack.config.ts
  packages/experimental-loader/test/test-kit/manifest-plugin.ts
Labels: 3.x, integration

#1718 Fix stylable modules output empty css after optimizing their original css
  .gitignore
  packages/e2e-test-kit/src/project-runner.ts
  packages/webpack-extensions/src/stylable-metadata-plugin.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/mini-css-support.ts
  packages/webpack-plugin/src/plugin-utils.ts
  packages/webpack-plugin/src/plugin.ts
  packages/webpack-plugin/src/runtime-inject.ts
  packages/webpack-plugin/src/types.ts
  packages/webpack-plugin/test/e2e/hd-cache.spec.ts
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/box.js
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/box.st.css
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/button.js
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/button.st.css
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/index.js
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/index.st.css
  packages/webpack-plugin/test/e2e/projects/hd-cache/node_modules/test-components/package.json
  packages/webpack-plugin/test/e2e/projects/hd-cache/src/index.js
  packages/webpack-plugin/test/e2e/projects/hd-cache/webpack.config.js
Labels: bug, integration

#1723 Remove !! from entry request
  packages/webpack-extensions/src/compile-as-entry.ts
Labels: bug
