Repository wix/stylable, pull requests merged in 2021-05, with the labels that each got.

#1775 Change .st.css module declaration to disallow stylesheet default exports
  packages/create-stylable-app/template/ts-react-webpack/typings/globals.d.ts
  packages/runtime/README.md
  packages/runtime/package.json
  packages/runtime/stylesheet.d.ts
Labels: bug, runtime

#1778 fix(core): bug import order can override a mapped symbol
  packages/core/src/stylable-processor.ts
  packages/core/test/stylable-transformer/general.spec.ts
Labels: bug, core

#1785 Add helper to exclude stylable from other loaders
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-config-stylable-excludes.ts
Labels: integration

#1798 Fix incorrect formatting for st-import causing values to disappear
  packages/language-service/src/lib/service.ts
  packages/language-service/test/lib/completions/st-import.spec.ts
Labels: bug, language-service

#1796 Test inline expectation
  packages/core-test-kit/package.json
  packages/core-test-kit/src/index.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
  packages/core-test-kit/test/tsconfig.json
  packages/core/test/mixins/css-mixins.spec.ts
  packages/core/test/stylable-transformer/scope-selector-v2.spec.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  tsconfig.json
Labels: tests

#1806 Add 'has', 'is' and 'where' to native pseudo class list
  packages/core/src/native-reserved-lists.ts
Labels: bug, core

#1807 security(core): drop postcss-selector-matches
  package.json
  packages/core/package.json
  packages/core/src/replace-rule-selector.ts
  packages/core/src/stylable-utils.ts
  typings/externals/index.d.ts
  yarn.lock
Labels: core, security

#1812 Fix mixins issue with nested atrules
  packages/core/src/selector-utils.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/mixins/css-mixins.spec.ts
  packages/core/test/mixins/js-mixins.spec.ts
Labels: bug, core, mixin

#1819 chore!: move cssdocs to schema-extract
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/test/cssdocs.spec.ts
  packages/schema-extract/package.json
  packages/schema-extract/src/cssdocs.ts
  packages/schema-extract/src/index.ts
  packages/schema-extract/src/main.ts
  packages/schema-extract/test/cssdocs.spec.ts
  packages/schema-extract/test/extract-schema.spec.ts
Labels: API

#1818 chore(deps): cleanup monorepo dependencies
  package.json
  packages/core/package.json
  packages/core/test/timed-cache.spec.ts
  packages/core/webpack.config.js
  packages/dom-test-kit/package.json
  packages/dom-test-kit/webpack.config.js
  packages/optimizer/package.json
  packages/optimizer/webpack.config.js
  packages/uni-driver/package.json
  packages/uni-driver/webpack.config.js
  packages/webpack-plugin/package.json
  webpack-config-browser/webpack.config.base.js
  yarn.lock
Labels: dependencies
