Repository wix/stylable, pull requests merged in 2021-02, with the labels that each got.

#1621 feat(core-test-kit): Test helper for matching target selector inline
  packages/core-test-kit/README.md
  packages/core-test-kit/src/generate-test-util.ts
  packages/core-test-kit/src/match-rules.ts
  packages/core/test/stylable-transformer/elements.spec.ts
Labels: core, tests

#1624 fix(core): fix false report on scoped elements
  packages/core/src/stylable-processor.ts
  packages/core/test/diagnostics.spec.ts
Labels: bug, diagnostics

#1637 Add plugin capabilities to force-states
  packages/webpack-extensions/src/stylable-forcestates-plugin.ts
  packages/webpack-extensions/test/unit/forcestates-plugin-plugins.spec.ts
Labels: API

#1636 Add resolver cache for symbol resolution.
  packages/cli/src/cli.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  packages/experimental-loader/src/cached-stylable-factory.ts
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/webpack-extensions/src/stylable-manifest-plugin.ts
  packages/webpack-plugin/src/stylable-webpack-plugin.ts
Labels: performance

#1639 fix: clear requireModuleCache after each run
  packages/experimental-loader/src/cached-stylable-factory.ts
Labels: bug

#1640 Add section about css custom properties
  packages/stylable.io/docs/guides/migration-v3.md
Labels: docs

#1626 Expand CLI index generation capabilities
  packages/cli/README.md
  packages/cli/src/base-generator.ts
  packages/cli/src/build-tools.ts
  packages/cli/src/build.ts
  packages/cli/src/default-generator.ts
  packages/cli/src/generate-index.ts
  packages/cli/src/index.ts
  packages/cli/test/fixtures/named-exports-generator.ts
  packages/cli/test/fixtures/test-generator.ts
  packages/cli/test/generate-index.spec.ts
Labels: feature, tooling

#1642 Minor documentation fixes
  packages/stylable.io/docs/references/class-selectors.md
  packages/stylable.io/docs/references/custom-selectors.md
  packages/stylable.io/docs/references/extend-stylesheet.md
  packages/stylable.io/docs/references/formatters.md
  packages/stylable.io/docs/references/global-selectors.md
  packages/stylable.io/docs/references/imports.md
  packages/stylable.io/docs/references/mixins.md
  packages/stylable.io/docs/references/namespace.md
  packages/stylable.io/docs/references/pseudo-classes.md
  packages/stylable.io/docs/references/pseudo-elements.md
  packages/stylable.io/docs/references/root.md
  packages/stylable.io/docs/references/tag-selectors.md
  packages/stylable.io/docs/references/variables.md
Labels: docs

#1638 refactor(cli): move cli entry to bin folder
  packages/cli/bin/stc.js
  packages/cli/package.json
  packages/cli/test/cli.spec.ts
Labels: tooling

#1630 Enable CLI diagnostics by default and exit process when present
  packages/cli/README.md
  packages/cli/src/build-tools.ts
  packages/cli/src/build.ts
  packages/cli/src/cli.ts
  packages/cli/test/build.spec.ts
  packages/cli/test/cli.spec.ts
Labels: tooling

#1629 Removed old scopeSelector
  packages/core/src/pseudo-states.ts
  packages/core/src/stylable-transformer.ts
Labels: API, core, deprecated

#1635 Rename fromRelative to request on Imported type.
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/test/stylable-processor.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/schema-extract/src/main.ts
  packages/webpack-plugin/src/stylable-parser.ts
Labels: core

#1660 Disable timedCache by default
  packages/core/src/stylable.ts
  packages/webpack-plugin/src/plugin.ts
Labels: API, core

#936 add @st-import syntax as an alternative to :import
  packages/core/package.json
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/functions.spec.ts
  packages/core/test/st-import.spec.ts
  packages/language-service/docs/completions.md
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/completion-types.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/src/lib/feature/formatting.ts
  packages/language-service/src/lib/provider.ts
  packages/language-service/src/lib/service.ts
  packages/language-service/src/lib/utils/postcss-ast-utils.ts
  packages/language-service/test/fixtures/server-cases/st-import/import.st.css
  packages/language-service/test/fixtures/server-cases/st-import/inside-empty-default.st.css
  packages/language-service/test/fixtures/server-cases/st-import/inside-empty-named.st.css
  packages/language-service/test/fixtures/server-cases/st-import/inside-multiline-empty-named.st.css
  packages/language-service/test/fixtures/server-cases/st-import/named-js-newline.st.css
  packages/language-service/test/fixtures/server-cases/st-import/named-js.st.css
  packages/language-service/test/fixtures/server-cases/st-import/top-level-import-exists.st.css
  packages/language-service/test/fixtures/server-cases/st-import/top-level.st.css
  packages/language-service/test/fixtures/server-cases/states/top-level-with-extend.st.css
  packages/language-service/test/fixtures/server-cases/states/top-level.st.css
  packages/language-service/test/lib/colors.spec.ts
  packages/language-service/test/lib/completions/st-import.spec.ts
  packages/language-service/test/lib/completions/states.spec.ts
  packages/language-service/test/lib/diagnostics.spec.ts
  packages/language-service/test/lib/formatting.spec.ts
  packages/language-service/test/lib/postcss-ast-utils.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
  packages/language-service/test/test-kit/diagnostics-setup.ts
  packages/stylable.io/docs/references/imports.md
  packages/webpack-extensions/src/create-metadata-stylesheet.ts
  yarn.lock
Labels: core, feature

#1671 fix(langauge-service): ignore diagnostic for "@st-global-custom-propety"
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib/diagnostics.spec.ts
Labels: bug, diagnostics, language-service

#1667 False scoping diagnostic on selector with ":not()"
  packages/core/src/selector-utils.ts
  packages/core/src/stylable-processor.ts
  packages/core/test/diagnostics.spec.ts
Labels: bug, core, diagnostics
