Repository wix/stylable, pull requests merged in 2022-06, with the labels that each got.

#2532 feat(core): mixin reflection API
  packages/core/src/features/index.ts
  packages/core/src/features/st-mixin.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/features/st-var.ts
  packages/core/src/index.ts
  packages/core/src/stylable.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: API, core, mixin

#2554 fix(core): unescape intended quotes in mix arg
  packages/core/src/functions.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: bug, core, mixin

#2550 feat(core): override st-vars with transformer options
  packages/core/src/features/st-var.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable.ts
  packages/core/test/stylable.spec.ts
Labels: API, core

#2549 feat(core): import analyze API
  packages/core/src/features/st-import.ts
  packages/core/src/stylable.ts
  packages/core/test/features/st-import.spec.ts
Labels: API, core

#2557 fix(webpack-plugin): preserve duplicate used/unused conflict
  packages/webpack-plugin/src/plugin-utils.ts
  packages/webpack-plugin/test/e2e/duplicate-namespace-perserve-modules.spec.ts
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-perserve-modules/src/index.js
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-perserve-modules/src/unused.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-perserve-modules/src/used.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-perserve-modules/webpack.config.js
Labels: bug, integration, optimizer

#2581 feat(core): st-mixin scope nested rule public API
  packages/core/src/features/st-mixin.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: API, core

#2580 feat(core): public API to get st-scope atrule
  packages/core/src/features/st-scope.ts
  packages/core/src/stylable.ts
  packages/core/test/features/st-scope.spec.ts
Labels: API, core

#2582 fix(create-stylable-app): remove stylable eslint plugin
  packages/create-stylable-app/template/ts-react-rollup/.eslintrc
  packages/create-stylable-app/template/ts-react-rollup/template.js
  packages/create-stylable-app/template/ts-react-webpack-lean/.eslintrc
  packages/create-stylable-app/template/ts-react-webpack-lean/template.js
  packages/create-stylable-app/template/ts-react-webpack/.eslintrc
  packages/create-stylable-app/template/ts-react-webpack/template.js
Labels: tooling, tech debt

#2579 refactor!: simplify `stylable.transform` API (v5)
  packages/cli/src/build-single-file.ts
  packages/core/src/stylable.ts
  packages/core/test/stylable.spec.ts
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/module-utils/src/module-factory.ts
  packages/rollup-plugin/src/index.ts
  packages/webpack-plugin/src/loader.ts
Labels: API, core

#2578 feat(core): public transform class API
  packages/core/src/features/css-class.ts
  packages/core/src/stylable.ts
  packages/core/test/features/css-class.spec.ts
Labels: API, core
