Repository wix/stylable, pull requests merged in 2022-03, with the labels that each got.

#2361 chore(deps): upgrade to latest stable
  package-lock.json
  package.json
  packages/core-test-kit/package.json
  packages/core/package.json
  packages/e2e-test-kit/package.json
  packages/language-service/package.json
  packages/module-utils/test/generate-dts.spec.ts
  packages/optimizer/package.json
Labels: tech debt

#2253 test(cli): change write file sync to use async write file
  packages/cli/src/base-generator.ts
  packages/cli/src/build.ts
  packages/cli/test/watch-multiple-projects.spec.ts
  packages/cli/test/watch-single-project.spec.ts
  packages/e2e-test-kit/src/cli-test-kit.ts
  packages/rollup-plugin/test/rollup-plugin-stylable.spec.ts
  packages/webpack-plugin/test/e2e/hd-cache.spec.ts
  packages/webpack-plugin/test/e2e/watched-project-error-recovery.spec.ts
  packages/webpack-plugin/test/e2e/watched-project.spec.ts
Labels: tests

#2369 refactor: resolve/cache all symbols together in transformation
  packages/core/src/custom-values.ts
  packages/core/src/features/css-class.ts
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/css-keyframes.ts
  packages/core/src/features/css-type.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/st-var.ts
  packages/core/src/functions.ts
  packages/core/src/index.ts
  packages/core/src/stylable-mixins.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/features/st-var.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
Labels: core, tech debt

#2384 fix(rollup-plugin): use the correct base directory as `projectRoot`
  packages/rollup-plugin/README.md
  packages/rollup-plugin/src/index.ts
Labels: integration

#2379 refactor: update features specs to new test format
  packages/core/test/features/css-keyframes.spec.ts
  packages/core/test/features/css-type.spec.ts
  packages/core/test/features/st-import.spec.ts
  packages/core/test/features/st-symbol.spec.ts
  packages/core/test/stylable-transformer/elements.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
Labels: core, tech debt

#2397 fix: cases with mixin moved compound selector
  packages/core/src/features/st-symbol.ts
  packages/core/src/helpers/rule.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-mixins.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/helpers/rule.spec.ts
  packages/core/test/mixins/css-mixins.spec.ts
Labels: bug, core

#2380 infra: run tests for integrations and core packages separately
  .github/workflows/tests.yml
  .gitignore
  .vscode/launch.json
  package-lock.json
  package.json
  packages/cli/test/cli-codemod.spec.ts
  packages/cli/test/cli.spec.ts
  packages/cli/test/code-format-cli.spec.ts
  packages/cli/test/codemods/st-global-custom-property-to-at-property.spec.ts
  packages/cli/test/codemods/st-import-to-at-import.spec.ts
  packages/cli/test/config-options.spec.ts
  packages/cli/test/config-presets.spec.ts
  packages/cli/test/config-projects.spec.ts
  packages/cli/test/watch-multiple-projects.spec.ts
  packages/cli/test/watch-single-project.spec.ts
  packages/e2e-test-kit/src/cli-test-kit.ts
  packages/e2e-test-kit/src/dts-kit.ts
  packages/e2e-test-kit/src/index.ts
  packages/e2e-test-kit/src/project-runner.ts
  packages/eslint-plugin-stylable/package.json
  packages/eslint-plugin-stylable/test/stylable-es-lint.spec.ts
  packages/eslint-plugin-stylable/test/tsconfig.json
  packages/rollup-plugin/test/test-kit/test-helpers.ts
  packages/rollup-plugin/test/tsconfig.json
  scripts/test-runner.js
Labels: tests, infrastructure

#2412 refactor(test-kit): remove `memory-fs` dependency
  package-lock.json
  packages/e2e-test-kit/package.json
  packages/e2e-test-kit/src/index.ts
  packages/e2e-test-kit/src/mem-fs.ts
  packages/e2e-test-kit/src/webpack-in-memory-test.ts
  packages/module-utils/test/test-kit.ts
Labels: tech debt, dependencies
