Repository wix/stylable, pull requests merged in 2022-05, with the labels that each got.

#2484 fix: collect `meta.mixins` only during analyze
  packages/core/src/features/st-mixin.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: bug, core

#2486 chore(core): st-state with value interpolation intentions
  packages/core/src/features/css-type.ts
  packages/core/test/features/css-class.spec.ts
Labels: future, core

#2489 refactor(core): prepare process AST mods for move to transform
  packages/core/src/features/css-class.ts
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/css-type.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-import.ts
  packages/core/src/features/st-scope.ts
  packages/core/src/features/st-var.ts
  packages/core/src/helpers/rule.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/test/features/css-custom-property.spec.ts
  packages/core/test/features/st-custom-selector.spec.ts
  packages/core/test/features/st-namespace.spec.ts
  packages/core/test/scope-directive.spec.ts
Labels: core, tech debt

#2496 refactor: move prepare ast to transformer
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-custom-selector.ts
  packages/core/src/features/st-mixin.ts
  packages/core/src/helpers/custom-selector.ts
  packages/core/src/helpers/rule.ts
  packages/core/src/index-internal.ts
  packages/core/src/replace-rule-selector.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-utils.ts
  packages/core/test/custom-selectors.spec.ts
  packages/core/test/diagnostic-codes.spec.ts
  packages/core/test/features/st-custom-selector.spec.ts
  packages/core/test/features/st-mixin.spec.ts
  packages/core/test/helpers/custom-selector.spec.ts
  packages/core/test/intellisense/intellisense.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/provider.ts
Labels: core, tech debt

#2525 refactor(core)!: removed processed AST from meta
  packages/build-tools/src/process-url-dependencies.ts
  packages/cli/src/build-single-file.ts
  packages/core-test-kit/src/generate-test-util.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core-test-kit/src/matchers/results.ts
  packages/core-test-kit/src/test-stylable-core.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
  packages/core-test-kit/test/test-stylable-core.spec.ts
  packages/core/src/features/st-custom-selector.ts
  packages/core/src/features/st-import.ts
  packages/core/src/features/st-mixin.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/types.ts
  packages/core/test/features/css-keyframes.spec.ts
  packages/core/test/features/st-mixin.spec.ts
  packages/core/test/pseudo-states.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable-transformer/global.spec.ts
  packages/core/test/stylable-transformer/post-process.spec.ts
  packages/core/test/stylable.spec.ts
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/diagnosis.ts
  packages/language-service/src/lib/feature/color-provider.ts
  packages/language-service/src/lib/provider.ts
  packages/language-service/test/test-kit/asserters.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
  packages/module-utils/src/module-factory.ts
  packages/module-utils/src/module-source.ts
  packages/optimizer/src/stylable-optimizer.ts
  packages/optimizer/test/stylable-optimizer.spec.ts
  packages/rollup-plugin/src/plugin-utils.ts
  packages/schema-extract/src/cssdocs.ts
  packages/webpack-extensions/src/create-metadata-stylesheet.ts
  packages/webpack-extensions/src/stylable-forcestates-plugin.ts
  packages/webpack-extensions/test/unit/forcestates-plugin.spec.ts
  packages/webpack-plugin/src/loader.ts
  packages/webpack-plugin/test/e2e/projects/autoprefixer-project/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/emit-info-diagnostic/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/hooked-project/stylable.config.js
Labels: API, core

#2531 fix(language-service): filter out false diagnostics for st-scope selectors with special characters
  packages/core/src/helpers/ast.ts
  packages/core/src/index-internal.ts
  packages/core/test/helpers/ast.spec.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/src/lib/diagnosis.ts
  packages/language-service/src/lib/utils/postcss-ast-utils.ts
  packages/language-service/test/lib/diagnostics.spec.ts
Labels: bug, diagnostics, language-service
