Repository wix/stylable, pull requests merged in 2022-11, with the labels that each got.

#2744 feat: CSS contains support
  packages/core/src/features/css-contains.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/helpers/rule.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/diagnostic-codes.spec.ts
  packages/core/test/features/css-contains.spec.ts
  packages/dom-test-kit/test/contract-test.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib/completions/contains.spec.ts
  packages/module-utils/src/dts-rough-tokenizer.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
  packages/module-utils/src/generate-dts.ts
  packages/module-utils/src/stylable-js-module-source.ts
  packages/module-utils/test/generate-dts.spec.ts
  packages/module-utils/test/index.spec.ts
  packages/module-utils/test/sourcemap.spec.ts
  packages/rollup-plugin/src/plugin-utils.ts
  packages/rollup-plugin/test/projects/js-exports/src/index.st.css
  packages/rollup-plugin/test/rollup-js-exports.spec.ts
  packages/runtime/README.md
  packages/runtime/src/css-runtime-stylesheet.ts
  packages/runtime/src/types.ts
  packages/runtime/stylesheet.d.ts
  packages/runtime/test/unit/css-runtime-stylesheet.spec.ts
  packages/webpack-plugin/src/loader.ts
  packages/webpack-plugin/src/webpack-entities.ts
  packages/webpack-plugin/test/e2e/js-exports.spec.ts
  packages/webpack-plugin/test/e2e/projects/js-exports/src/index.st.css
Labels: feature, core

#2777 infra: add code coverage dev flow
  package-lock.json
  package.json
Labels: tests, infrastructure

#2775 refactor(core): extract custom state feature
  packages/cli/test/build.spec.ts
  packages/core-test-kit/src/index.ts
  packages/core-test-kit/src/matchers/results.ts
  packages/core/src/features/css-class.ts
  packages/core/src/features/css-pseudo-class.ts
  packages/core/src/features/css-type.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-custom-state.ts
  packages/core/src/features/types.ts
  packages/core/src/helpers/custom-state.ts
  packages/core/src/index-internal.ts
  packages/core/src/pseudo-states.ts
  packages/core/src/state-validators.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/src/types.ts
  packages/core/test/diagnostic-codes.spec.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/extend-function-parser.spec.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/features/css-pseudo-class.spec.ts
  packages/core/test/features/st-custom-state.spec.ts
  packages/core/test/pseudo-states.spec.ts
  packages/dom-test-kit/src/stylable-dom-util.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/feature/pseudo-class.ts
  packages/language-service/test/lib/diagnostics.spec.ts
  packages/optimizer/src/stylable-optimizer.ts
  packages/webpack-extensions/src/stylable-forcestates-plugin.ts
Labels: core, tech debt

#2691 feat(config): add defaultConfig from file
  package-lock.json
  package.json
  packages/cli/src/build-stylable.ts
  packages/cli/src/config/projects-config.ts
  packages/cli/test/build.spec.ts
  packages/cli/test/cli.spec.ts
  packages/cli/test/config-options.spec.ts
  packages/core/src/index-internal.ts
  packages/core/src/stylable.ts
  packages/jest/src/jest.ts
  packages/jest/test/fixtures/default-config/index.st.css
  packages/jest/test/fixtures/default-config/stylable.config.js
  packages/jest/test/fixtures/default-config/webpack-alias1/green.st.css
  packages/jest/test/fixtures/default-config/webpack-alias2/green.st.css
  packages/jest/test/jest.spec.ts
  packages/node/src/require-hook.ts
  packages/node/test/fixtures/base-project/has-js.st.css
  packages/node/test/fixtures/base-project/has-js.st.css.js
  packages/node/test/fixtures/base-project/package.json
  packages/node/test/fixtures/base-project/plain.css
  packages/node/test/fixtures/base-project/test.st.css
  packages/node/test/fixtures/default-config/index.st.css
  packages/node/test/fixtures/default-config/package.json
  packages/node/test/fixtures/default-config/stylable.config.js
  packages/node/test/fixtures/default-config/webpack-alias1/green.st.css
  packages/node/test/fixtures/default-config/webpack-alias2/green.st.css
  packages/node/test/require-hook-default-config.spec.ts
  packages/node/test/require-hook.spec.ts
  packages/node/test/resolve-namespace-factory.spec.ts
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/test/projects/config-file-resolver-override/package.json
  packages/rollup-plugin/test/projects/config-file-resolver-override/src/components/green.st.css
  packages/rollup-plugin/test/projects/config-file-resolver-override/src/index.js
  packages/rollup-plugin/test/projects/config-file-resolver-override/src/index.st.css
  packages/rollup-plugin/test/projects/config-file-resolver-override/stylable.config.js
  packages/rollup-plugin/test/rollup-config-file-resolver.spec.ts
  packages/webpack-plugin/src/plugin.ts
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/package.json
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/src/index.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/src/webpack-alias/green.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/stylable.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/package.json
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/src/index.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/src/webpack-alias/green.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/stylable.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/package.json
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/src/index.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/src/typescript-paths/blue.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/src/webpack-alias/green.st.css
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/stylable.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/tsconfig.json
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/webpack.config.js
  packages/webpack-plugin/test/e2e/stc-config-resolver-inline-override.spec.ts
  packages/webpack-plugin/test/e2e/stc-config-resolver-override.spec.ts
  packages/webpack-plugin/test/e2e/stc-config-resolver.spec.ts
Labels: API, integration, tooling, language-service
