Repository wix/stylable, pull requests merged in 2022-01, with the labels that each got.

#2215 refactor(core): css-keyframes feature extraction
  packages/cli/src/base-generator.ts
  packages/core-test-kit/src/diagnostics.ts
  packages/core/src/features/css-keyframes.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-import.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/features/types.ts
  packages/core/src/helpers/namespace.ts
  packages/core/src/helpers/rule.ts
  packages/core/src/index.ts
  packages/core/src/native-reserved-lists.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/features/css-keyframes.spec.ts
  packages/core/test/features/st-import.spec.ts
  packages/core/test/mixins/js-mixins.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-transformer/global.spec.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
  packages/e2e-test-kit/src/isolated-server.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
Labels: core, tech debt

#2086 feat: support CLI multiple projects
  .vscode/launch.json
  package-lock.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/base-generator.ts
  packages/cli/src/build-single-file.ts
  packages/cli/src/build-stylable.ts
  packages/cli/src/build-tools.ts
  packages/cli/src/build.ts
  packages/cli/src/cli-codemod.ts
  packages/cli/src/cli.ts
  packages/cli/src/code-format.ts
  packages/cli/src/config/process-projects.ts
  packages/cli/src/config/projects-config.ts
  packages/cli/src/config/resolve-options.ts
  packages/cli/src/config/resolve-requests.ts
  packages/cli/src/diagnostics-manager.ts
  packages/cli/src/directory-process-service/directory-process-service.ts
  packages/cli/src/generate-manifest.ts
  packages/cli/src/handle-assets.ts
  packages/cli/src/index.ts
  packages/cli/src/logger.ts
  packages/cli/src/messages.ts
  packages/cli/src/projects-config.ts
  packages/cli/src/report-diagnostics.ts
  packages/cli/src/tsconfig.json
  packages/cli/src/types.ts
  packages/cli/src/watch-handler.ts
  packages/cli/test/build.spec.ts
  packages/cli/test/cli-codemod.spec.ts
  packages/cli/test/cli.spec.ts
  packages/cli/test/code-format-cli.spec.ts
  packages/cli/test/codemods/st-global-custom-property-to-at-property.spec.ts
  packages/cli/test/codemods/st-import-to-at-import.spec.ts
  packages/cli/test/config-options.spec.ts
  packages/cli/test/config-presets.spec.ts
  packages/cli/test/config-projects.spec.ts
  packages/cli/test/config.spec.ts
  packages/cli/test/directory-process-service/directory-process-service.spec.ts
  packages/cli/test/generate-index.spec.ts
  packages/cli/test/test-kit/cli-test-kit.ts
  packages/cli/test/watch-multiple-projects.spec.ts
  packages/cli/test/watch-single-project.spec.ts
  packages/core/src/visit-meta-css-dependencies.ts
  packages/core/test/stylable-utils.spec.ts
  packages/e2e-test-kit/src/cli-test-kit.ts
  packages/e2e-test-kit/src/index.ts
Labels: tooling

#2254 fix(e2e-test-kit): `junction` option for symlinks
  packages/e2e-test-kit/src/cli-test-kit.ts
Labels: bug, tests

#2242 refactor: extend inline testing
  packages/core-test-kit/README.md
  packages/core-test-kit/src/diagnostics.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
Labels: tests

#2261 fix(cli): missing dependencies
  package-lock.json
  packages/cli/package.json
Labels: bug, tooling

#2255 Unify tool to test stylable core
  packages/core-test-kit/README.md
  packages/core-test-kit/src/index.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core-test-kit/src/test-stylable-core.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
  packages/core-test-kit/test/test-stylable-core.spec.ts
Labels: tests, core, tech debt, dev velocity

#2256 fix: Stylable variables exports type and generated `dts` and `sourcemaps` files
  packages/core/src/process-declaration-functions.ts
  packages/core/src/stylable-transformer.ts
  packages/module-utils/src/dts-rough-tokenizer.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
  packages/module-utils/src/generate-dts.ts
  packages/module-utils/test/dts-rough-tokenizer.spec.ts
  packages/module-utils/test/generate-dts.spec.ts
  packages/module-utils/test/sourcemap.spec.ts
  packages/runtime/src/types.ts
Labels: bug, core, tooling, runtime, types

#2266 fix(core): complex selectors inside nested pseudo-classes
  packages/core/src/stylable-transformer.ts
  packages/core/test/stylable-transformer/scoping.spec.ts
Labels: bug, core

#2248 Update Jest README.md
  packages/jest/README.md
Labels: docs, integration

#2229 Add stylableNamespace to module buildInfo
  packages/experimental-loader/src/add-build-info.ts
  packages/experimental-loader/src/stylable-runtime-loader.ts
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/experimental-loader/test/basic-integration.spec.ts
  packages/experimental-loader/test/projects/basic-integration/webpack.config.js
  packages/experimental-loader/test/testkit/manifest-plugin.ts
Labels: integration

#2216 refactor(core): css-custom-property feature extraction
  packages/cli/src/base-generator.ts
  packages/cli/src/code-mods/st-global-custom-property-to-at-property.ts
  packages/cli/test/codemods/st-global-custom-property-to-at-property.spec.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/css-keyframes.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-import.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/features/types.ts
  packages/core/src/functions.ts
  packages/core/src/helpers/css-custom-property.ts
  packages/core/src/helpers/global.ts
  packages/core/src/helpers/value.ts
  packages/core/src/index.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-utils.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/src/utils.ts
  packages/core/test/css-vars.spec.ts
  packages/core/test/features/css-custom-property.spec.ts
  packages/core/test/features/css-keyframes.spec.ts
  packages/core/test/stylable-transformer/at-property.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-utils.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
  packages/webpack-extensions/src/stylable-manifest-plugin.ts
Labels: core, tech debt
