Repository wix/stylable, pull requests merged in 2022-08, with the labels that each got.

#2641 feat(core) transition from native `@namespace` - v4
  packages/cli/README.md
  packages/cli/src/code-mods/load-codemods.ts
  packages/cli/src/code-mods/namespace-to-st-namespace.ts
  packages/cli/test/codemods/namespace-to-st-namespace.spec.ts
  packages/cli/test/fixtures/named-exports-generator.ts
  packages/cli/test/generate-index.spec.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-namespace.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/test/features/st-namespace.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/completion-types.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/fixtures/server-cases/imports/top-level-import-exists.st.css
  packages/language-service/test/lib/completions/namespace-directive.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
  packages/webpack-plugin/test/e2e/projects/3rd-party-standalone/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/4th-party-project/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-warning/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-warning/src/same-index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace/src/same-index.st.css
Labels: core, tech debt, 4.x

#2624 feat(core): transition from native `@namespace` (conflict)
  packages/cli/README.md
  packages/cli/src/code-mods/load-codemods.ts
  packages/cli/src/code-mods/namespace-to-st-namespace.ts
  packages/cli/test/codemods/namespace-to-st-namespace.spec.ts
  packages/cli/test/fixtures/named-exports-generator.ts
  packages/cli/test/generate-index.spec.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-namespace.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/diagnostic-codes.spec.ts
  packages/core/test/features/st-namespace.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/completion-types.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/fixtures/server-cases/imports/top-level-import-exists.st.css
  packages/language-service/test/lib/completions/namespace-directive.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
  packages/webpack-plugin/test/e2e/projects/3rd-party-standalone/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/4th-party-project/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-warning/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace-warning/src/same-index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace/src/index.st.css
  packages/webpack-plugin/test/e2e/projects/duplicate-namespace/src/same-index.st.css
Labels: feature, core, tech debt

#2647 infra: lower CI test job timeout
  .github/workflows/tests.yml
Labels: infrastructure

#2655 infra(e2e-test-kit): default project runner inner step timeout flakiness
  packages/e2e-test-kit/src/project-runner.ts
  packages/webpack-plugin/test/e2e/deep-js.spec.ts
  packages/webpack-plugin/test/e2e/stc-watched-project.spec.ts
Labels: infrastructure

#2661 fix(lsp): `@property` unknown at-rule diagnostic
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib/completions/custom-property.spec.ts
Labels: bug, diagnostics, language-service

#2654 fix(core): fix resolver performance regression
  packages/core/src/stylable-resolver.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/webpack-extensions/test/e2e/manifest.css-vars.spec.ts
  packages/webpack-extensions/test/e2e/manifest.spec.ts
Labels: bug, core

#2653 fix(core): fix resolver performance regression (v4)
  packages/core/src/stylable-resolver.ts
  packages/core/test/stylable-resolver.spec.ts
Labels: bug, core

#2668 fix(core): allow value reference in st-map
  packages/core/src/custom-values.ts
  packages/core/test/features/st-var.spec.ts
Labels: bug, core

#2673 feat(webpack-plugin): expose function to bundle libs according to config
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-config-stylable-excludes.ts
Labels: integration
