Repository wix/stylable, pull requests merged in 2022-02, with the labels that each got.

#2314 feat(cli): log when stop watching
  packages/cli/src/messages.ts
  packages/cli/src/watch-handler.ts
Labels: tooling

#2311 feat: set specific source file path in the `dts` source-maps
  packages/cli/README.md
  packages/cli/src/build-single-file.ts
  packages/cli/src/config/resolve-options.ts
  packages/cli/test/cli.spec.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
  packages/module-utils/test/sourcemap.spec.ts
Labels: bug, integration, tooling

#2284 fix(core): st-var feature overall
  packages/cli/src/base-generator.ts
  packages/cli/test/build.spec.ts
  packages/cli/test/cli.spec.ts
  packages/cli/test/config-projects.spec.ts
  packages/core-test-kit/src/inline-expectation.ts
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/features/st-var.ts
  packages/core/src/features/types.ts
  packages/core/src/functions.ts
  packages/core/src/helpers/css-custom-property.ts
  packages/core/src/helpers/import.ts
  packages/core/src/helpers/string.ts
  packages/core/src/helpers/value.ts
  packages/core/src/index.ts
  packages/core/src/pseudo-states.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-mixins.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/src/utils.ts
  packages/core/test/diagnostics.spec.ts
  packages/core/test/features/st-var.spec.ts
  packages/core/test/functions.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-transformer/general.spec.ts
  packages/core/test/stylable-transformer/post-process-and-hooks.spec.ts
  packages/core/test/stylable-transformer/post-process.spec.ts
  packages/core/test/stylable-transformer/value.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/feature/color-provider.ts
  packages/module-utils/src/generate-dts-sourcemaps.ts
Labels: core, tech debt

#2329 fix(core): css-class feature fixes
  packages/core/src/features/css-class.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/st-global.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/src/stylable-value-parsers.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/features/st-global.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-transformer/exports.spec.ts
  packages/core/test/stylable-transformer/global.spec.ts
Labels: bug, core, tech debt
