Repository wix/stylable, pull requests merged in 2023-05, with the labels that each got.

#2857 feat: support typed named imports completion
  packages/core/src/stylable-resolver.ts
  packages/language-service/src/lib-new/ast-from-position.ts
  packages/language-service/src/lib-new/features/ls-st-import.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/completion-types.ts
  packages/language-service/src/lib/provider.ts
  packages/language-service/test/fixtures/server-cases/st-import/named-js-newline.st.css
  packages/language-service/test/fixtures/server-cases/st-import/named-js.st.css
  packages/language-service/test/fixtures/server-cases/st-import/top-level-import-exists.st.css
  packages/language-service/test/fixtures/server-cases/st-import/top-level.st.css
  packages/language-service/test/lib-new/ast-from-position.spec.ts
  packages/language-service/test/lib-new/features/ls-st-import.spec.ts
  packages/language-service/test/lib/completions/st-import.spec.ts
  packages/language-service/test/test-kit/completions-asserters.ts
  packages/language-service/test/test-kit/test-lang-service.ts
Labels: feature, tech debt, language-service

#2856 feat(esbuild): plugin for ESBuild & Stylable
  .gitignore
  package-lock.json
  packages/build-tools/src/has-imported-side-effects.ts
  packages/cli/src/build-single-file.ts
  packages/cli/src/config/projects-config.ts
  packages/cli/src/index.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-transformer.ts
  packages/esbuild/LICENSE
  packages/esbuild/README.md
  packages/esbuild/package.json
  packages/esbuild/src/index.ts
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/esbuild/src/tsconfig.json
  packages/esbuild/test/e2e/duplicate-namespace/a.st.css
  packages/esbuild/test/e2e/duplicate-namespace/b.st.css
  packages/esbuild/test/e2e/duplicate-namespace/build.js
  packages/esbuild/test/e2e/duplicate-namespace/esbuild-duplicate-namespace.spec.ts
  packages/esbuild/test/e2e/duplicate-namespace/index.js
  packages/esbuild/test/e2e/duplicate-namespace/stylable.config.js
  packages/esbuild/test/e2e/esbuild-testkit.ts
  packages/esbuild/test/e2e/rebuild/a.st.css
  packages/esbuild/test/e2e/rebuild/build.js
  packages/esbuild/test/e2e/rebuild/index.js
  packages/esbuild/test/e2e/rebuild/rebuild.spec.ts
  packages/esbuild/test/e2e/rebuild/stylable.config.js
  packages/esbuild/test/e2e/simple-case/a.png
  packages/esbuild/test/e2e/simple-case/a.st.css
  packages/esbuild/test/e2e/simple-case/asset.png
  packages/esbuild/test/e2e/simple-case/b.st.css
  packages/esbuild/test/e2e/simple-case/build.js
  packages/esbuild/test/e2e/simple-case/deep.st.css
  packages/esbuild/test/e2e/simple-case/imported-only-from-css.st.css
  packages/esbuild/test/e2e/simple-case/index.bundle.html
  packages/esbuild/test/e2e/simple-case/index.html
  packages/esbuild/test/e2e/simple-case/index.js
  packages/esbuild/test/e2e/simple-case/reset.css
  packages/esbuild/test/e2e/simple-case/side-effects.st.css
  packages/esbuild/test/e2e/simple-case/simple-case.spec.ts
  packages/esbuild/test/e2e/simple-case/stylable.config.js
  packages/esbuild/test/e2e/simple-case/theme-color.js
  packages/esbuild/test/tsconfig.json
  packages/module-utils/src/stylable-js-module-source.ts
  packages/rollup-plugin/src/index.ts
  packages/webpack-plugin/README.md
  packages/webpack-plugin/src/plugin.ts
  tsconfig.json
Labels: integration

#2860 chorelsp): migrate pseudo-class completions tests
  packages/language-service/test/fixtures/server-cases/pseudo-elements/multiple-states.st.css
  packages/language-service/test/fixtures/server-cases/pseudo-elements/recursive-import-3-deep-state.st.css
  packages/language-service/test/fixtures/server-cases/states/class-with-states-double-colon.st.css
  packages/language-service/test/fixtures/server-cases/states/class-with-states.st.css
  packages/language-service/test/fixtures/server-cases/states/complex-selectors-with-states.st.css
  packages/language-service/test/fixtures/server-cases/states/complex-selectors.st.css
  packages/language-service/test/fixtures/server-cases/states/top-level-with-extend.st.css
  packages/language-service/test/fixtures/server-cases/states/top-level.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/enum/imported-state-with-enum-middle.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/enum/imported-state-with-enum-start.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/enum/imported-state-with-template-enum-middle.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/enum/state-with-enum.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/enum/state-with-param-enum-suggestion.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/imported-state-param.st.css
  packages/language-service/test/fixtures/server-cases/states/with-param/local-state-param.st.css
  packages/language-service/test/lib-new/features/ls-css-pseudo-class.spec.ts
  packages/language-service/test/lib/completions/states.spec.ts
Labels: pseudo-state, tech debt, language-service
