Repository wix/stylable, pull requests merged in 2023-07, with the labels that each got.

#2883 feat: st-scope with no scoping selector
  packages/core/src/features/st-scope.ts
  packages/core/test/features/st-scope.spec.ts
  packages/core/test/scope-directive.spec.ts
Labels: feature, core

#2882 fix: support svg `p: path("")` declaration
  packages/core/src/functions.ts
  packages/core/src/native-reserved-lists.ts
  packages/core/test/features/css-general.spec.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib-new/general-css.spec.ts
Labels: bug, core

#2884 fix: accept mixin argument var used in atrule params
  packages/core/src/features/st-mixin.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: bug, core, mixin

#2885 refactor: bailout transform for internal `-st-` decls
  packages/core/src/stylable-transformer.ts
Labels: core

#2886 fix: warn diagnostics for `@st-scope` with no selector
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib/diagnostics.spec.ts
Labels: bug, language-service

#2888 fix: first level pseudo-element def with extend in structure mode
  packages/core/src/stylable-transformer.ts
  packages/core/test/features/st-structure.spec.ts
Labels: bug, core

#2887 fix(lsp): unhandled errors
  packages/language-service/src/lib/provider.ts
  packages/language-service/src/lib/service.ts
  packages/language-service/src/lib/utils/wrap-and-log.ts
Labels: bug, language-service

#2892 fix: report unexpected pseudo-state param error
  packages/core/src/helpers/custom-state.ts
  packages/core/test/features/css-pseudo-class.spec.ts
Labels: bug, diagnostics, core

#2893 feat: new cjs and esm bundles for core
  .vscode/launch.json
  package-lock.json
  package.json
  packages/cli/src/build-single-file.ts
  packages/core/src/enhanced-resolve-alias.ts
  packages/core/src/index.ts
  packages/core/src/stylable-js-module-source.ts
  packages/esbuild/package.json
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/esbuild/src/tsconfig.json
  packages/module-utils/README.md
  packages/module-utils/src/index.ts
  packages/module-utils/src/module-factory.ts
  scripts/build.js
Labels: feature, API

#2894 fix(webpack): false positive unused stylesheet collision
  packages/webpack-plugin/src/plugin-utils.ts
  packages/webpack-plugin/src/plugin.ts
Labels: bug, integration
