Repository wix/stylable, pull requests merged in 2023-10, with the labels that each got.

#2907 feat!: move to file-services/resolve as default resolver
  package-lock.json
  packages/cli/src/cli-codemod.ts
  packages/cli/src/code-format.ts
  packages/cli/src/config/projects-config.ts
  packages/cli/test/assets.spec.ts
  packages/cli/test/build.spec.ts
  packages/cli/test/cli.spec.ts
  packages/core-test-kit/src/generate-test-util.ts
  packages/core-test-kit/src/index.ts
  packages/core-test-kit/test/inline-expectations.spec.ts
  packages/core/package.json
  packages/core/src/cached-process-file.ts
  packages/core/src/enhanced-resolve-alias.ts
  packages/core/src/module-resolver.ts
  packages/core/src/stylable.ts
  packages/core/test/features/st-import.spec.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable.spec.ts
  packages/e2e-test-kit/src/dts-kit.ts
  packages/esbuild/package.json
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/esbuild/test/e2e/esbuild-testkit.ts
  packages/esbuild/test/e2e/rebuild/rebuild.spec.ts
  packages/eslint-plugin-stylable/package.json
  packages/eslint-plugin-stylable/src/stylable-es-lint.ts
  packages/experimental-loader/package.json
  packages/experimental-loader/src/stylable-transform-loader.ts
  packages/jest/package.json
  packages/jest/src/jest.ts
  packages/jest/test/fixtures/default-config/stylable.config.js
  packages/jest/test/jest.spec.ts
  packages/jest/test/tsconfig.json
  packages/language-service/test/lib-new/features/ls-st-import.spec.ts
  packages/language-service/test/test-kit/test-lang-service.ts
  packages/module-utils/test/generate-dts.spec.ts
  packages/node/package.json
  packages/node/src/find-files.ts
  packages/node/src/loader.ts
  packages/node/src/require-hook.ts
  packages/node/test/fixtures/default-config/stylable.config.js
  packages/node/test/loader.spec.ts
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/test/projects/config-file-resolver-override/stylable.config.js
  packages/rollup-plugin/test/rollup-native-css.spec.ts
  packages/rollup-plugin/test/rollup-stc-config.spec.ts
  packages/rollup-plugin/test/test-kit/test-helpers.ts
  packages/webpack-extensions/src/stylable-manifest-plugin.ts
  packages/webpack-extensions/src/stylable-metadata-loader.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/legacy-module-resolver.ts
  packages/webpack-plugin/src/plugin.ts
  packages/webpack-plugin/test/e2e/projects/native-css/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/stylable.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-inline-override/webpack.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver-override/stylable.config.js
  packages/webpack-plugin/test/e2e/projects/stylable-config-resolver/stylable.config.js
Labels: core, next-major

#2908 fix: initial mapped-selector infer with experimentalSelectorInference
  packages/core/src/stylable-transformer.ts
  packages/core/test/features/css-pseudo-element.spec.ts
Labels: bug, core

#2909 fix: mixin bug with experimentalSelectorInference
  packages/core/src/features/feature.ts
  packages/core/src/features/st-scope.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: bug, core, mixin

#2910 feat!: strict class -st-global mapping
  packages/core/src/features/css-class.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/stylable-transformer/global.spec.ts
Labels: core, tech debt, next-major

#2905 feat: validate simple custom state template
  packages/core/src/helpers/custom-state.ts
  packages/core/test/features/css-pseudo-class.spec.ts
  packages/schema-extract/test/test.spec.ts
Labels: pseudo-state, core, next-major

#2913 refactor(cli)!: make `fs` required in `resolveConfig` function
  packages/cli/src/build-stylable.ts
  packages/cli/src/config/projects-config.ts
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/rollup-plugin/src/index.ts
  packages/webpack-plugin/src/plugin.ts
Labels: API, tooling, tech debt, next-major

#2911 chore!: deprecate resolveExtends of custom-selector
  packages/core/src/stylable-resolver.ts
Labels: API, core, tech debt, next-major

#2912 refactor(types)!: enhance type definitions for resolved CSS and JS values
  packages/core/src/features/st-mixin.ts
  packages/core/src/features/st-var.ts
  packages/core/src/functions.ts
  packages/core/src/index-internal.ts
  packages/core/src/stylable-resolver.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/provider.ts
  packages/webpack-extensions/src/types.ts
Labels: API, core, tech debt, next-major

#2915 fix: at-rule mixin collecting extra rules regression
  packages/core/src/helpers/rule.ts
  packages/core/test/features/st-mixin.spec.ts
Labels: bug, core, mixin

#2906 feat!: turn on experimental selector inference by default
  packages/core/src/features/st-custom-selector.ts
  packages/core/src/features/st-scope.ts
  packages/core/src/stylable.ts
  packages/core/test/features/css-general.spec.ts
  packages/core/test/features/css-pseudo-class.spec.ts
  packages/core/test/features/css-pseudo-element.spec.ts
  packages/core/test/features/st-custom-selector.spec.ts
  packages/core/test/features/st-global.spec.ts
  packages/core/test/features/st-mixin.spec.ts
  packages/core/test/features/st-scope.spec.ts
  packages/core/test/stylable-transformer/general.spec.ts
  packages/core/test/stylable-transformer/nesting.spec.ts
  packages/language-service/src/lib-new/lang-service-context.ts
  packages/language-service/test/lib-new/features/ls-css-pseudo-class.spec.ts
  packages/language-service/test/lib/completions/custom-selectors.spec.ts
Labels: core, next-major

#2919 chore: upgrade to support for `rollup@4`
  package-lock.json
  package.json
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/index.ts
Labels: integration

#2920 feat(core)!: default resolver cache
  packages/core/src/stylable.ts
  packages/core/test/stylable-resolver.spec.ts
  packages/core/test/stylable-transformer/transformer.unit.spec.ts
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/eslint-plugin-stylable/src/stylable-es-lint.ts
  packages/experimental-loader/src/cached-stylable-factory.ts
  packages/node/src/loader.ts
  packages/node/src/require-hook.ts
  packages/rollup-plugin/src/index.ts
  packages/webpack-extensions/src/stylable-manifest-plugin.ts
Labels: core

#2922 chore: deprecation info for unknown custom-properties in build-var
  packages/core/src/features/st-var.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/features/css-custom-property.spec.ts
Labels: deprecated, next-major, 5.x

#2921 feat(core)!: normalize build-var value
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/feature.ts
  packages/core/src/features/st-mixin.ts
  packages/core/src/features/st-var.ts
  packages/core/src/functions.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/features/css-custom-property.spec.ts
Labels: feature, core, tech debt
