Repository wix/stylable, pull requests merged in 2023-06, with the labels that each got.

#2866 infra: lang service test kit completion function expectation
  packages/language-service/test/lib-new/features/ls-css-pseudo-class.spec.ts
  packages/language-service/test/lib-new/features/ls-st-import.spec.ts
  packages/language-service/test/test-kit/test-lang-service.ts
Labels: tests, language-service

#2867 fix(esbuild): correct resolveDir
  packages/esbuild/src/stylable-esbuild-plugin.ts
  packages/esbuild/test/e2e/simple-case/index.js
  packages/esbuild/test/e2e/simple-case/internal-dir/internal-dir.png
  packages/esbuild/test/e2e/simple-case/internal-dir/internal-dir.st.css
  packages/esbuild/test/e2e/simple-case/simple-case.spec.ts
Labels: bug, integration

#2868 fix: edit parser unclosed at-rule bug
  packages/language-service/src/lib-new/ast-from-position.ts
  packages/language-service/src/lib-new/edit-time-parser.ts
  packages/language-service/test/lib-new/ast-from-position.spec.ts
  packages/language-service/test/lib-new/edit-time-parser.spec.ts
Labels: bug, language-service

#2872 infra: unified expectation to improve read/write
  packages/language-service/test/lib-new/ast-from-position.spec.ts
Labels: tests, infrastructure, language-service

#2873 fix(lsp): ast-from-position fixes
  packages/language-service/src/lib-new/ast-from-position.ts
  packages/language-service/test/lib-new/ast-from-position.spec.ts
Labels: bug, language-service

#2874 feat(lsp): filter completions by context
  packages/language-service/src/lib-new/features/ls-st-import.ts
  packages/language-service/src/lib-new/lang-service-context.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/provider.ts
  packages/language-service/src/lib/service.ts
  packages/language-service/test/lib-new/features/ls-st-import.spec.ts
Labels: tech debt, language-service

#2568 refactor: avoid calling stat manually on each entry
  packages/node/src/find-files.ts
Labels: integration, tech debt

#2876 fix: `@st-scope` deep scoping
  packages/core/src/helpers/rule.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/features/css-keyframes.spec.ts
Labels: bug, core

#2862 feat: experimental `@st` structure definition v0
  package-lock.json
  packages/cli/test/directory-process-service/directory-process-service.spec.ts
  packages/core-test-kit/src/index.ts
  packages/core-test-kit/src/spy.ts
  packages/core-test-kit/test/test-stylable-core.spec.ts
  packages/core/package.json
  packages/core/src/features/css-class.ts
  packages/core/src/features/css-pseudo-class.ts
  packages/core/src/features/css-type.ts
  packages/core/src/features/index.ts
  packages/core/src/features/st-custom-selector.ts
  packages/core/src/features/st-custom-state.ts
  packages/core/src/features/st-part.ts
  packages/core/src/features/st-structure.ts
  packages/core/src/helpers/css-value-seeker.ts
  packages/core/src/helpers/custom-state.ts
  packages/core/src/helpers/resolve.ts
  packages/core/src/helpers/selector.ts
  packages/core/src/index-internal.ts
  packages/core/src/stylable-meta.ts
  packages/core/src/stylable-processor.ts
  packages/core/src/stylable-resolver.ts
  packages/core/src/stylable-transformer.ts
  packages/core/test/diagnostic-codes.spec.ts
  packages/core/test/features/css-class.spec.ts
  packages/core/test/features/css-type.spec.ts
  packages/core/test/features/st-structure.spec.ts
  packages/core/test/features/st-symbol.spec.ts
  packages/core/test/intellisense/intellisense.spec.ts
  packages/core/test/stylable-processor.spec.ts
  packages/core/test/stylable-transformer/transformer.unit.spec.ts
  packages/language-service/src/lib/completion-providers.ts
  packages/language-service/src/lib/css-service.ts
  packages/language-service/test/lib-new/features/ls-st-import.spec.ts
  packages/language-service/test/lib-new/features/ls-st-structure.spec.ts
Labels: feature, future
