Repository wix/stylable, pull requests merged in 2024-03, with the labels that each got.

#2942 feat: expose computed build vars source location
  packages/core/src/features/st-var.ts
  packages/core/test/features/st-var.spec.ts
Labels: API, core, 5.x

#2943 feat(core): expose css custom properties api
  packages/core/src/features/css-custom-property.ts
  packages/core/src/features/st-symbol.ts
  packages/core/src/stylable.ts
  packages/core/test/features/css-custom-property.spec.ts
Labels: API, core, 5.x

#2941 chore(deps): upgrade to latest stable
  .eslintrc
  package-lock.json
  package.json
  packages/code-formatter/package.json
  packages/code-formatter/src/format-css.ts
  packages/core-test-kit/package.json
  packages/core-test-kit/src/match-rules.ts
  packages/core/package.json
  packages/core/src/helpers/custom-state.ts
  packages/core/src/helpers/rule.ts
  packages/core/test/helpers/rule.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/dom-test-kit/test/tsconfig.json
  packages/e2e-test-kit/package.json
  packages/eslint-plugin-stylable/package.json
  packages/eslint-plugin-stylable/src/stylable-es-lint.ts
  packages/language-service/package.json
  packages/language-service/src/lib-new/ast-from-position.ts
  packages/language-service/src/lib-new/edit-time-parser.ts
  packages/language-service/src/lib/utils/postcss-ast-utils.ts
  packages/language-service/src/tsconfig.json
  packages/optimizer/package.json
  packages/optimizer/src/stylable-optimizer.ts
  packages/webpack-plugin/package.json
Labels: dependencies

#2944 chore: upgrade v5 dependencies
  package-lock.json
  package.json
  packages/code-formatter/package.json
  packages/code-formatter/src/format-css.ts
  packages/core-test-kit/package.json
  packages/core-test-kit/src/match-rules.ts
  packages/core/package.json
  packages/core/src/helpers/custom-state.ts
  packages/core/src/helpers/rule.ts
  packages/core/test/helpers/rule.spec.ts
  packages/core/test/scope-directive.spec.ts
  packages/e2e-test-kit/package.json
  packages/experimental-loader/package.json
  packages/language-service/package.json
  packages/language-service/src/lib-new/ast-from-position.ts
  packages/language-service/src/lib-new/edit-time-parser.ts
  packages/language-service/src/lib/utils/postcss-ast-utils.ts
  packages/optimizer/package.json
  packages/optimizer/src/stylable-optimizer.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/plugin-utils.ts
Labels: dependencies, 5.x
